html, body{
    height: 100%;
    width: 100%;
}

body{
    margin-bottom: 70px;
}

.navbar-default{
    background: transparent !important;
    border: 0 !important;
    font-size: 1.2em;
    padding: 0 15px 5px;   
}
.navbar-brand{
    font-size: 20px;
    color: #000 !important;
    font-weight: bold;
}



#showcase {
    background: url(../images/fundo-home.jpg) no-repeat center center fixed;
    display: table;
    height: 100%;
    position: relative;
    width: 100%;
    background-size: cover; 
}

.landing-text{
    display: table-cell;
    text-align: center;
    vertical-align: middle;
}

h1{
    font-family: Poppins;
}
h3,h4,h5,h6{
    font-family: Roboto;
}