@charset"utf-8";

body {
   	padding: 0;
	margin: 0;
	font-family: 'Lato';
	height: 500px;
	width: 1350px;
	display: block;
	overflow-x: hidden;
}

i{margin:0 5px 5px 0; line-height:normal;}
h1{margin:0; padding:0; font-size:22px; margin-top:5px; font-variant:small-caps; color: #EAEAEA;}
h2, h3, h4{text-align-last: center; color: #3C4348}
p{font-size: 17px; color: #000000;}
hr{width: 100%; color: #000000;}
/*footer{padding: 4rem 0; border-top: 1px solid #999999; font-family: 'Roboto', sans-serif; font-size: 1.125rem; color: #3C4348; text-align: center;}
*/#menu ul li { display: inline; }


.banner{
	padding: 30px;
	font-size: 15px;
	background-color: #3C4348;
}
.banner .h3_banner{
	font-size: 40px;
	font-family: 'Roboto';
	color: white;
	text-align-last: center;

}

.topbar{
	padding: 30px;
	text-align-last: center;
	background-color: gray;
}

.menu ul {
    padding:0px;
    margin:0px;
    background-color:#EDEDED;
    list-style:none;
}

#menu ul li a {
	text-align-last: center;
	font-style: italic;
	font-size: 18px;
    padding: 2px 50px;
    display: inline-block;
    background-color:gray;
    color: #333;
    text-decoration: none;
}


.conteudo{
	position: relative;
	display: block;
	width: calc(100% - 410px - 30px);
	height: calc(100% - 90px);
	float: left;
	padding: 50px 15px 20px 90px;
}

.foto{
	top: 110px;
	left: 30px;
	float: left;
	background-repeat: no-repeat;
	position: relative;
	height: 150px;
	width: 150px;
	display: block;
}

.contato{
	position: relative;
	display: block;
	float: left;
	padding: 0 100px 20px 650px;
}

.curriculo{
	position: relative;
	display: block;
	float: left;
	padding: 0px 150px 0px 250px;	
}


