body{
    margin-top:20px;
    padding:20px;
    background:#66B9Bf;
    color:white;
}
.header {
    font-family:Roboto;
    font-weight:bolder;
    padding-top:20px;
    padding-bottom:20px;
    font-size: 40px;
    text-align: center;
    background: #07889B;
    width:75%;
    color:white;
}
.container{
    padding-top:20px;
    padding-bottom:20px;
    margin-top:20px;
    display:block;
    background:#07889B;
    width:75%;
    color:white;
    font-family:roboto;
    font-size:20px;
    text-align:left;
}
h2{
    padding:20px;
    text-align:center;
    font-size:40px;
    font-family:roboto;
}
.sidebar{
    color:white;
    height:100%;
    width:25%;
    position:fixed;
    top:0;
    right:0;
    background:#E37222;
}
.perfil{
    display:block;
    margin-left:auto;
    margin-right:auto;
    width:75%;
}
.print{
    display:block;
    margin:auto;
    width:75%;
    background:#07889B;
}
