body {
    text-align: center;
    height:  100%;
    margin:  0px auto;
}
#botao {
    transition: 0.8s;
}
.nomeCompleto {
    background-image: url("../img/star.gif");
    background-repeat: no-repeat;
    background-size: cover;
    font-family: sans-serif;
    color: rgb(231, 231, 231);
    min-height: 100%;
}
.sobre {
    margin:auto;
    padding:auto;
    height:100%;
}
.contato {
    height:100%;
}
.hobbies {
    margin:auto;
    padding:auto;
    height: 100%;
}
.displayNone {
    display: none;
}