@charset"utf-8";

body {
   	padding: 0;
	margin: 0;
}

h1{margin:0; padding:0; font-size:22px; margin-top:5px; font-variant:small-caps; color: #EAEAEA;}
h2, h3, h4{text-align-last: center; color: #3C4348}
p{font-size: 17px; color: #000000; font-family: 'Monaco'; }


footer{ 

	width: 100%;
	height: 0%;
	background-color: gray;
	float: left;
	position: relative;
	display: block;
}


#menu ul li { 
	display: inline; 
	font-family: 'Georgia';
	margin: 0;
	padding: 0;
}

.banner_nome{
	font-size: 20px;
	font-family: 'Georgia';
	color: white;
	float: left;
	position: relative;
	display: block;
	top: -35px;
	left: 5%;
	color: #3C4348;
}

.banner_curso{
	top: 2%;
	font-size: 15px;
	font-family: 'Georgia';
	color: white;
	float: left;
	position: relative;
	display: block;
	top: -5%;
	left: -10%;
	color: #3C4348;
}

.topbar{
	padding: 30px;
	text-align-last: center;
	background-color: gray;
	position: relative;
}

.menu ul {
    padding:0px;
    margin:0px;
    background-color:#EDEDED;
    list-style:none;
}

#menu ul li a {
	text-align-last: center;
	font-style: italic;
	font-size: 18px;
    padding: 2px 50px;
    display: inline-block;
    background-color:gray;
    color: #333;
    text-decoration: none;

}


.foto{
	margin: 20%;
	left: 30%;
	float: left;
	background-repeat: no-repeat;
	position: relative;
	height: 200px;
	width: 200px;
	display: block;
}


.descricao{
	position: relative;
	display: block;
	float: left;
	top: -480px;
	left:  25%;
	width: 150%;

}

.fundo{
	position: relative;
	display: block;
	float: left;
	width: 1350px;
	height: 550px;
	background-repeat: no-repeat;
}

.fundo_curriculo{
	position: relative;
	display: block;
	float: left;
	width: 1350px;
	height: 550px;
	background-repeat: no-repeat;

}


.fundo_contato{
	position: relative;
	display: block;
	float: left;
	width: 1350px;
	height: 550px;
	background-repeat: no-repeat;

}


.contato{
	position: relative;
	display: block;
	float: left;
	padding: 0 100px 20px 650px;
}

.curriculo{
	position: relative;
	display: block;
	float: left;
	background-color: #F8F8FF;
	width: 1300px;
	height: 600px;	
}


.telefone{
	position: relative;
	display: block;
	float: left;
	height: 15%;
	width: 15%;
	background-repeat: no-repeat;
	left: 20%;
	margin: 3%;
}


.email{
	position: relative;
	display: block;
	float: left;
	height: 17%;
	width: 17%;
	background-repeat: no-repeat;
	left: 15%;
	margin: 3%;
}

.phone{
	font-family: "Lato";
	position: relative;
	display: block;
	float: left;
	left: 15%;
	margin: 6%;
}


.mail{
	font-family: "Lato";
	position: relative;
	display: block;
	float: left;
	left: 40%;
	top: -40px;
}

.face{
	background-repeat: no-repeat;
	position: relative;
	display: block;
	width: 2%;
	height: 2%;
	float: left;
	left: 20%;
	top: 50px;
}

.git{
	background-repeat: no-repeat;
	position: relative;
	display: block;
	width: 2%;
	height: 2%;
	float: left;
	left: 22%;
	top: 50px;
}

.linkedin{
	background-repeat: no-repeat;
	position: relative;
	display: block;
	width: 2%;
	height: 2%;
	float: left;
	left: 24%;
	top: 50px;
}

.formacao_academica{
	font-family: 'Trebuchet MS';
	position: relative;
	display: block;
	float: left;
	left: 35%;
	top: -530px;	
}

.p_formacao{
	position: relative;
	display: block;
	float: left;
	left: 10%;
	top: -530px;
}

.experiencia_profissional{
	font-family: 'Trebuchet MS';
	position: relative;
	display: block;
	float: left;
	left: 35%;
	top: -530px;
}

.fundap{

	font-family: 'Trebuchet MS';
	position: relative;
	display: block;
	float: left;
	left: 4%;
	top: -490px;
}

.cargo{
	position: relative;
	display: block;
	float: left;
	left: -53%;
	top: -82%;
}

.atividades{
	position: relative;
	display: block;
	float: left;
	left: 10.5%;
	top: -460px;
	overflow: inherit;
	

}

.qualificacoes{
	font-family: 'Trebuchet MS';
	position: relative;
	display: block;
	float: left;
	left: 140%;
	top: -780px;
}

.p_ingles{
	position: relative;
	display: block;
	float: left;
	left: 60%;
	top: -131%;
}

.p_espanhol{
	position: relative;
	display: block;
	float: left;
	left: 129.5%;
	top: -135%;
}

.p_gestao{
	position: relative;
	display: block;
	float: left;
	left: 129.5%;
	top: -760px;
}

.p_instrumental{
	position: relative;
	display: block;
	float: left;
	left: 129.5%;
	top: -770px;
}

.linguagens{
	font-family: 'Trebuchet MS';
	position: relative;
	display: block;
	float: left;
	left: 170%;
	top: -780px;
}

.html_css{
	position: relative;
	display: block;
	float: left;
	left: 112.5%;
	top: -740px;
	font-size: 16px;
}

.java{
	position: relative;
	display: block;
	float: left;
	left: 98%;
	top: -715px;
	font-size: 16px;
}

.sql{
	position: relative;
	display: block;
	float: left;
	left: 91.2%;
	top: -690px;
	font-size: 16px;
}

.c{
	position: relative;
	display: block;
	float: left;
	left: 85.5%;
	top: -665px;
	font-size: 16px;
}

.nome{
	position: relative;
	display: block;
	float: right;
	left:  40%;
	top: -440px;
	width: 50%;
}

.Email{
	position: relative;
	display: block;
	float: right;
	left:  40%;
	top: -420px;
	width: 50%;
}

.assunto{
	position: relative;
	display: block;
	float: right;
	left: 40%;
	top: -400px;
	width: 50%;
}

.mensagem{
	position: relative;
	display: block;
	float: right;
	left:   18%;
	top: -370px;
	width: 50%;
	height: 100px;	
}

.enviar{
	position: relative;
	display: block;
	float: right;
	left:   68%;
	top: -250px;
}


.curriculo{
	height: 550px;
	width: 550px;
}


.h_nome{
	position: relative;
	display: block;
	float: left;
	top: -500px;
	left: 80%; 
}

.p_contato{
	position: relative;
	display: block;
	float: right;
	top: -500px;
	right: 0%;
}