@charset "UTF-8";

/* RESET CSS */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
	/* remover linha abaixo depois da estrutura*/
	border: 1px solid rgba(0,0,0,0.7);
}

html {
	font-size: 16px;
	line-height: 1.5;
	font-family: Helvetica, Arial, sans-serif;
}

/* FORMATACAO UNIVERSAL DE FONTES */
h1 {
    font-size: 2rem;
}

h2 {
    font-size: 1.75rem;
}

h3 {
    font-size: 1.5rem;
}

h4 {
    font-size: 1.25rem;
}

h5 {
    font-size: 1rem;
}

h1, h2, h3, h4, h5, h6 {
    margin-bottom: .5rem;
    font-weight: 500;
    line-height: 1.2;
}

p {
	margin-top: 0;
	margin-bottom: 1rem;
}

/* HEADER PRINCIPAL */
header#header-principal {
	width: 100%;
	background-color: aqua;
}

/* MENU PRINCIPAL TOPO */
nav#menu-principal {
	width: 75%;
	height: 3.5rem;
	margin: 0 auto;
}

nav#menu-principal div#logo {
	/* width: 10%; */
	display: block;
	float: left;
	margin-top: 0.9rem;
}

nav#menu-principal ul#ul-menu-principal {
	display: block;
	float: right;
	text-align: right;
	margin-top: 0.9rem;
}

	nav#menu-principal ul#ul-menu-principal li {
		display: inline-block;
		text-transform: uppercase;
		font-size: 0.8rem;
		vertical-align: middle;
		margin-left: 0.7rem;
	}

/* INTERFACE GERAL */
div#interface-geral {
	width: 75%;
	margin: 1% auto 0 auto;
	background-color: red;
}
	/* resolve conteudo transborda por causa do float */
	div#interface-geral::after {
		content: "";
		clear: both;
		display: table;
  }

/* ASIDE ESQUERDA FIXO */
aside#info-fixo {
	width: 25%;
	background-color: brown;
	display: block;
	float: left;
}
	div#sub-info-fixo {
		margin: 2%;
		background-color: purple;
	}

	div#sub-info-fixo h5 {
		font-size: 0.95rem;
		margin: 1.5rem 0;
	}

/* INTERFACE GERAL CONTEUDO */
div#interface-geral-conteudo {
	width: 72%;
	background-color: yellow;
	display: block;
	float: right;
}

	/* SECTIONS DA INTERFACE GERAL */
	section.sections-conteudo {
		/* REMOVER AS DUAS LINHAS DEPOIS */
		margin: 0 1% 1% 1%;
		padding: 0.3rem;
		background-color: chartreuse;
	}

/* FOOTER */
footer#footer-principal {
	width: 100%;
	background-color: blueviolet;
}

footer div#subfooter-centro {
	width: 75%;
	margin: 0 auto;
	background-color: blue;
}