@charset "UTF-8";

/* RESET CSS */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
	/* remover linha abaixo depois da estrutura*/
	border: 1px solid rgba(0,0,0,0.7);
}

html {
	font-size: 16px;
	line-height: 1.5;
	font-family: Helvetica, Arial, sans-serif;
}
/* esconder a ancora para o inicio da pagina */
#inicio {
	display: none;
}

/* FORMATACAO UNIVERSAL DE FONTES */
h1 {
    font-size: 1.75rem;
}

h2 {
    font-size: 1.5rem;
}

h3 {
    font-size: 1.25rem;
}

h4 {
    font-size: 1rem;
}

h1, h2, h3, h4, h5, h6 {
    margin-bottom: .5rem;
    font-weight: 500;
    line-height: 1.2;
}

p {
	margin-top: 0;
	margin-bottom: 1rem;
}

/* DIVISAO GERAL PARA O CABECALHO PRINCIPAL */
header#header-principal {
	background-color: aqua;
	width: 100%;
	height: 3.5rem;
	position: fixed;
	top: 0;
	transition: top 0.4s;
}

/* MENU PRINCIPAL TOPO */
nav#menu-principal {
	width: 75%;
	height: inherit;
	margin: 0 auto;
}
	/* estilizar os links dentro do nav */
	.topnav a {
		float: left;
		display: block;
		color: black;
		text-align: center;
		padding: 0.8rem;
		text-decoration: none;
	}
	/* mudar a cor dos links ao passar por cima */
	.topnav a:hover {
		background-color: black;
		color: white;
	}
	/* esconder o link que deverá abrir e fechar o topnav em telas pequenas */
	.topnav .icone {
		display: none;
	}

/* DIVISAO GERAL PARA O CURRICULO */
div#divisao-curriculo {
	width: 75%;
	margin: 4.5rem auto 0 auto;
	background-color: red;
}
	/* resolve conteudo transborda por causa do float */
	div#divisao-curriculo::after {
		content: "";
		clear: both;
		display: table;
  }

/* ASIDE ESQUERDA FIXO */
aside#info-fixo {
	width: 25%;
	background-color: brown;
	display: block;
	float: left;
}
	div#sub-info-fixo {
		margin: 2%;
		background-color: purple;
	}
	/* formatação da imagem perfil circular */
	.foto-perfil {
		width: 70%;
	}
	.foto-perfil img {
		width: 100%;
		height: auto;
		border-radius: 50%;
		box-sizing: border-box;
	}

/* INTERFACE GERAL CONTEUDO */
div#interface-geral-conteudo {
	width: 72%;
	background-color: yellow;
	display: block;
	float: right;
}

	/* SECTIONS DA INTERFACE GERAL */
	section.sections-conteudo {
		/* REMOVER AS DUAS LINHAS DEPOIS */
		margin: 0 1% 1% 1%;
		padding: 0.3rem;
		background-color: chartreuse;
	}

	section.sections-conteudo ul {
		margin-bottom: 2%;
	}

		section.sections-conteudo ul li {
			list-style: none;
		}

/* DIVISAO GERAL PARA O BLOG */
div#divisao-blog {
	width: 75%;
	margin: 0.5rem auto 0 auto;
	background-color: lightcoral;
}
	/* sub divisao de blog para centralizar o header + section */
	div div#sub-divisao-blog {
		width: 75%;
		margin: 0 auto;
		background-color: fuchsia;
	}
	/* resolve conteudo transborda por causa do float */
	div div#sub-divisao-blog::after {
		content: "";
		clear: both;
		display: table;
  	}
		/* cabecalho = h2 + nav */
		header#cabecalho-blog {
			width: 35%;
			display: block;
			float: left;
			background-color: gold;
		}
			header nav#navbar-blog {
				width: 100%;
				background-color: orangered;
			}

		/* section = iframe, noticias */
		section#noticias-blog {
			width: 55%;
			height: 30rem;
			display: block;
			float: right;
			background-color: peru;
		}
			/* FORMATACAO GERAL DO IFRAME */
			iframe#noticias-blog-iframe {
				width: 100%;
				height: 100%;
				border: none;
			}

/* DIVISAO GERAL PARA O CONTATO */
div#divisao-contato {
	width: 75%;
	margin: 0.5rem auto 0 auto;
	background-color: crimson;
}
	/* subdivisao de contato para centralizar */
	div#sub-divisao-contato {
		width: 75%;
		margin: 0 auto;
		background-color: chocolate;
	}
		/* sub sub divisao para info de contato */
		div#sub-contato-info {
			width: 45%;
			background-color: darkgreen;
		}
		/* add um espacionamento entre as ul */
		div#sub-contato-info ul {
			margin: 1.8rem 0;
		}

/* DIVISAO GERAL PARA O RODAPE */
footer#footer-principal {
	width: 100%;
	margin-top: 0.5rem;
	background-color: blueviolet;
}
	/* divisao que centraliza tudo o que vai no footer */
	footer div#subfooter-centro {
		position: relative;
		width: 75%;
		height: 10rem;
		margin: 0 auto;
		background-color: blue;
	}

	div#subfooter-centro div#direitos {
		position: absolute;
		width: 100%;
		box-sizing: border-box;
		bottom: 0;
		margin-bottom: 1rem;
	}
		/* alinhar o primeiro span à esquerda */
		div#direitos span:first-child {
			display: block;
			float: left;
		}
		/* alinhar o segundo span à direita */
		div#direitos span:last-child {
			display: block;
			float: right;
		}

/* MEDIA QUERIES */
/* Dispositivos muito pequenos (celulares, 600px e abaixo) */
@media only screen and (max-width: 600px) {
	body {
        background-color: pink;
	}
	/* MENU RESPONSIVO */
	/* Quando a tela for menor que 600px de largura, esconda todos os links menos o primeiro ("Inicio")
	Mostre o icone que contem devera abrir e fechar o topnav (.icone) */
	.topnav a:not(:first-child) {
		display: none;
	}
	.topnav a.icone {
		float: right;
		display: block;
	}
	/* A classe "menu-responsivo" eh adicionada ao topnav com JS quando o usuario clicar no icone
	Esta classe torna o topnav mais bonito para telas pequenas (mostra lins verticalmente ao inves de horizontalmente) */
	.topnav.menu-responsivo {position: relative;}
	.topnav.menu-responsivo a.icone {
		position: absolute;
		right: 0;
		top: 0;
	}
	.topnav.menu-responsivo a {
		float: none;
		display: block;
		text-align: left;
	}
} 

/* Dispositivos pequenos (portrait tablets e celulares grandes, 600px e acima) */
@media only screen and (min-width: 600px) {
	body {
        background-color: yellowgreen;
	}
} 

/* Dispositivos medios (tablets no modo landscape, 768px e acima) */
@media only screen and (min-width: 768px) {
	body {
        background-color: blueviolet;
    }
} 

/* Dispositivos grandes (laptops/desktops, 992px e acima) */
@media only screen and (min-width: 992px) {
	body {
        background-color: blue;
    }
} 

/* Dispositivos muito grandes (laptops e desktops grandes, 1200px e acima) */
@media only screen and (min-width: 1200px) {
	body {
        background-color: red;
	}
}