body {

    background-image: url("img/background1.jpg");
    background-repeat: repeat;
    background-size: contain;
    font-family: : verdana, sans-serif;
    width: 80%;
    height: 98%;
    margin: 10px auto 10px auto;
}

.main {
    width: 100%;
    height: 100%;
    background: linear-gradient(to bottom, rgba(254, 255, 232, 1) 0%, rgba(214, 219, 191, 1) 100%);
    border-radius: 10px;
    -webkit-box-shadow: 0px 0px 5px 3px rgba(0, 0, 0, 0.39);
    -moz-box-shadow: 0px 0px 5px 3px rgba(0, 0, 0, 0.39);
    box-shadow: 0px 0px 5px 3px rgba(0, 0, 0, 0.39);
}

.clear {

    clear: both;
}

.banner {

    width: 100%;
    height: 20%;
}

.bannerPersonalImg {

    width: 15%;
    height: 80%;
    background-image: url("img/defaultPorfile.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    border-radius: 30px;
    float: left;
    border: 2px solid white;
}

.bannerInfo {

    width: 84%;
    height: 100%;
    float: left;
}

.infoMainName {

    width: 100%;
    height: 50%;
}

.mainName {

    margin-left: 20px;
    font-family: verdana, sans-serif;
    font-weight: bold;
    letter-spacing: 3px;
    color: #000000;
    font-size: 200%;
}

.nickName {
    margin-left: 20px;
    font-family: verdana, sans-serif;
    font-weight: bold;
    letter-spacing: 3px;
    color: #8c8c8c;
    font-size: 180%;
}

.infoNickName {

    width: 100%;
    height: 50%;
}

.menu {

    width: 100%;
    height: 10%;
}

.menuNavbar {

    width: 99%;
    height: 80%;
    margin: 10px auto 10px auto;
    overflow: hidden;
}

.navIcon {

    font-size: 180%;
    color: white;
}




.navbarItem {

    width: 20%;
    height: 100%;
    float: left;
    background-color: #0099e6;
    text-align: center;
    text-shadow: 2px 2px 7px white;
    color: black;
    font-family: Impact, Charcoal, sans-serif;
    font-size: 150%;

    font-weight: bold;
    letter-spacing: 3px;
    /*
    outline: 1px solid white;
    outline-offset: -1px;
	*/
    transition: background-color 0.4s ease;
    transition: box-shadow 0.4s ease;
}

.navbarItem:first-child {

    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
}

#navFilmes {

    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
}


.navbarItem:hover {

    box-shadow: inset 0px -4px 0px 0px white, inset 0px 4px 0px 0px white;
    background-color: #66ccff;
    cursor: pointer;
}

.navbarItem:active {

    background-color: #99ddff;
}




.content {

    width: 100%;
    height: 60%;
}

.footer {
    width: 100%;
    height: 10%;
}

@keyframes navItemTransition {

    100% {
        background-color: black;
    }
}
































































































/* Safari 4.0 - 8.0 */

@-webkit-keyframes example {
    from {
        background-color: red;
    }
    to {
        background-color: yellow;
    }
}
































































































/* Standard syntax */

@keyframes example {
    from {
        background-color: red;
    }
    to {
        background-color: yellow;
    }
}