body {
    /*
    background-image: url("img/background1.jpg");
    background-repeat: repeat;
    background-size: contain;
    */
    background-color: lightgray;
    font-family: : verdana, sans-serif;
    width: 80%;
    height: 98%;
    margin: 10px auto 10px auto;
    transition: all 0.3s ease;
}

* {
    transition: all 0.3s ease;
}

a {

    color: black;
    text-decoration: none;
}


.main {
    width: 100%;
    height: 100%;
    background: linear-gradient(to bottom, rgba(252, 255, 244, 1) 0%, rgba(223, 229, 215, 1) 40%, rgba(179, 190, 173, 1) 100%);
    border-radius: 10px;
    -webkit-box-shadow: 0px 0px 5px 3px rgba(0, 0, 0, 0.39);
    -moz-box-shadow: 0px 0px 5px 3px rgba(0, 0, 0, 0.39);
    box-shadow: 0px 0px 5px 3px rgba(0, 0, 0, 0.39);
    overflow: hidden;
}

.clear {

    clear: both;
}

.banner {

    width: 100%;
    height: 20%;
}

.bannerPersonalImg {

    width: 15%;
    height: 80%;
    background-image: url("img/defaultPorfile.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    border-radius: 30px;
    float: left;
    border: 2px solid white;
    margin-top: 1%;
    margin-left: 2%;
}

.bannerInfo {

    width: 80%;
    height: 100%;
    float: left;
    margin-left: 2%;
}

.infoMainName {

    width: 100%;
    height: 50%;
    padding-top: 10px;
    overflow: hidden;
    display: block;
}

.mainName {

    margin-left: 10px;
    font-family: verdana, sans-serif;
    font-weight: bold;
    letter-spacing: 3px;
    color: #000000;
    font-size: 200%;
}

.lgray {

    color: gray;
}

.infoNameMobile {

    width: 100%;
    height: 100%;
    font-family: verdana, sans-serif;
    font-weight: bold;
    letter-spacing: 3px;
    color: black;
    font-size: 130%;
    display: none;
    text-align: center;
    margin-top: -2%;
}

.nickName {
    margin-left: 10px;
    margin-top: -5px;
    font-family: verdana, sans-serif;
    font-weight: bold;
    letter-spacing: 3px;
    color: #8c8c8c;
    font-size: 180%;
}

.infoNickName {

    width: 100%;
    height: 50%;

    overflow: hidden;
    display: block;
}

.menu {

    width: 100%;
    height: 10%;
}

.menuNavbar {

    width: 100%;
    height: 80%;
    margin: 10px auto 10px auto;
    overflow: hidden;
}

.navIcon {

    font-size: 180%;
    color: white;
}




.navbarItem {

    width: 16.66%;
    height: 100%;
    float: left;
    background-color: #b3b3b3;
    text-align: center;
    text-shadow: 2px 2px 7px white;
    color: black;
    font-family: Impact, Charcoal, sans-serif;
    font-size: 150%;

    font-weight: bold;
    letter-spacing: 3px;
    /*
    outline: 1px solid white;
    outline-offset: -1px;
	*/
    transition: background-color 0.4s ease;
    transition: box-shadow 0.4s ease;
}


.navbarItem:hover {

    box-shadow: inset 0px -4px 0px 0px white, inset 0px 4px 0px 0px white;
    background-color: #cccccc;
    cursor: pointer;
}

.navbarItem:active {

    background-color: #e6e6e6;
}

.navActive {

    box-shadow: inset 0px -4px 0px 0px white, inset 0px 4px 0px 0px white;

    background-color: #e6e6e6;
}


.content {

    width: 100%;
    height: 60%;
    overflow-x: hidden;
}

.contentSub {

    width: 300%;
    height: 100%;
}

.subPage {

    width: 33.33%;
    height: 100%;
    box-shadow: inset -2px 0px 0px 0px hsla(0, 0%, 76%, 1), inset 2px 0px 0px 0px hsla(0, 0%, 76%, 0.82);
    float: left;
}

.footer {
    width: 100%;
    height: 10%;
    background-color: lightgray;
    background: linear-gradient(to bottom, rgba(206, 220, 231, 1) 0%, rgba(89, 106, 114, 1) 100%);
}

.powered {

    height: 100%;
    width: 20%;
    float: left;

    text-align: center;
    text-shadow: 2px 2px 7px black;
    color: lightgray;
    font-family: verdana, sans-serif;
    font-size: 120%;
    font-weight: bold;
    letter-spacing: 3px;
    padding-top: 1%;
}

.socialMedia {

    height: 100%;
    width: 20%;
    float: right;
}

.socialIcon {

    cursor: pointer;
    font-size: 280%;
    margin-top: 8%;
    margin-left: 8%;
}


@media only screen and (max-width: 1013px) {

    .socialMedia {

        width: 40%;
    }

    .bannerInfo {


        float: none;
        width: 100%;
        height: 20%;
    }

    .bannerPersonalImg {
        width: 40%;
        height: 80%;
        float: none;
        margin: 10px auto 10px auto;
    }
    .infoMainName {

        display: none;
    }
    .infoNickName {
        display: none;
    }
    .infoNameMobile {

        display: block;
    }
}



























































































































































































































































































































































































































/* Standard syntax */

@keyframes example {
    from {
        background-color: red;
    }
    to {
        background-color: yellow;
    }
}