* {
  border: 1px solid rgba(0, 0, 0, 0.7);
}

body {
  background-color: rgb(255, 255, 255);
  margin: 0;
  padding: 0;
}

p {
  height: 80%;
}

.header { 
  background-color: black;
  width: 100%;
}

.header a {
  display: inline-block;

}

.right {
  display: inline;
  float: right;  
}

.logo {
  display: inline-block;
  width: 100%;
  margin: 0;
  padding: 0;
}

.logo h1 {
  font-family: 'Bangers', cursive;
  text-align: center;
  font-size: 500%;

}

.papper {
  margin-left: 15%;
  margin-right: 15%;
  height: 1500px;
}

.box {
  width: 25%;
  margin: 10px;
  float: left;
  margin-left: 5.5%;
  height: 40%;
}

.clear {
  clear: both;
}

.center a{
  display: inline-block;
  position: relative;
  left: 45%;
}

#bottom_bar {
  position: relative;
  bottom: 0px;
  height: 5%;
  width: 100%;
  background-color: rgba(0, 0, 0, 1);
}