/*Gabriel Garcia*/

header{ /*Definindo alguns padrões para o topo do meu site*/
    width: 100%;
    height: 250px;
    background: linear-gradient(to bottom, black, #121212, black);  /*Penso em mudar essa cor*/  
}

header .container{  /*Tudo de estiver no container em header seguirá os padrões definidos por mim*/
    position: relative;
}

#imgIniciais {
    width: 25%;
    height: 25px;
    text-align: center;
}

