body{
  background-color: #f4f4f4;
  color: #7F7182;
}

a{
  text-decoration: none;
  color: black;
}

a:visited{
  text-decoration: none;
  color: #7F7182;
}

h1{
    color: black;
    font-family: font;
    /*font-weight:lighter;*/
    font-size: 50px;
}


.menu{
  font-family: font;
  /*text-shadow: 1px 2px grey;*/
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 385px 385px;
}

.menu > div{
  filter: alpha(opacity:0.5);
  KHTMLOpacity: 0.5;
  MozOpacity: 0.5;
  -khtml-opacity:.50;
  -ms-filter:"alpha(opacity=50)";
  -moz-opacity:.50;
  filter:alpha(opacity=50);
  opacity:.70;
}

.menu > div:hover {
filter: alpha(opacity:1);
KHTMLOpacity: 1;
MozOpacity: 1;
-khtml-opacity:.1;
-ms-filter:"alpha(opacity=100)";
-moz-opacity:1;
filter:alpha(opacity=100);
opacity:1;
}

.wrapper{
  display: grid;
  grid-template-columns: 3fr 1fr;
  width: 100%; /*percentage responds to reducing window*/
  margin: auto;
}

.name{
  padding: 5em;
  background-image: url("img1.jpg");
  background-size: cover;
  text-align: left;
}

.hobbies{
  background-image: url("img2.jpg");
  background-size: cover;
  text-align: left;
  padding: 6em;
}

.about{
  background-image: url("img3.jpg");
  grid-row: 2;
  background-size: cover;
  background-position: center;
  padding: 6em;
}

.social{
  background-image: url("img4.jpg");
  grid-row: 2;
  background-size: cover;
  padding: 6em;
}

.facebook {
  background-image: url('facebook.png');
}

.github {
    background-image: url('github.png');
}

.linkedin {
    background-image: url('linkedin.png');
}

.instagram {
    background-image: url('instagram.png');
}

.quote{
  padding: 6em;
  font-size: 1.5em;
  text-align:left;
  font-family: Georgia;
  float: left;
  line-height: 350%;
}

@font-face {
    font-family: 'font';
    src: url('font.eot')/*Para navegadores Internet Explorer*/;
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'font';
    src: url('font.ttf') /*Para os demais navegadores*/;
    font-weight: normal;
    font-style: normal;
}
