*{
    box-sizing: border-box;
}
html,
body {
  height: 100%;
  min-height: 600px;
}

body{
    margin: 0%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    height: 100%;
    min-height: 600px;
    overflow-x: hidden; /*Impedir a criação de barra de rolagem horizontal*/
}

.v-header{
    height: 100vh;
    display: flex;
    align-items: center;
    color: white;
}

.container{
    max-width: 960px;
    padding-left: 1rem;
    padding-right: 1rem;
    margin: auto;
    text-align: center;
}

.video-fullscreen{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    overflow: hidden;
}

.video-fullscreen video{
    min-width: 100%;
    min-height: 100%;

}

.video-overlay{
    height: 100vh;
    width: 100vw;
    position: absolute;
    top: 0;
    left: 0;
    background: #225470;
    z-index: 1;
    opacity: 0.50;
}
.overlay-content{
    z-index: 2;
}

.overlay-content h1{
    font-size: 100px;
}

.overlay-content p{
    font-size: 40px;
}

.nav-wrapper{
    background: #225470;
}

/*Carousel sem JS*/
.carousel-wrapper{
    height:100vh;
    position:relative;
    width:100%;
    margin:0 auto;
  }
  .carousel-item{
    position:absolute;
    top:0;
    bottom:0;
    left:0;
    right:0;
    padding:25px 50px;
    opacity:0;
    transition: all 0.5s ease-in-out;
  }
  .arrow{
    position:absolute;
    top:0;
    display:block;
    width:50px;
    height:100%;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    background: url("http://dancort.es/assets/img/css-carousel/carousel-arrow-dark.png") 50% 50% / 20px no-repeat;
  }
  
  .arrow-prev{
    left:0;
  }
   
  .arrow-next{
      right:0;
      -webkit-transform: rotate(180deg);
       transform: rotate(180deg);
    }
  
  .light{
    color:white;
  }
  
  @media (max-width: 480px) {
        .arrow, .light .arrow {
          background-size: 10px;
          background-position: 10px 50%;
        }
      }
  }

  [id^="item"] {
      display: none;
    }
  
  .item-1 {
      z-index: 2;
      opacity: 1;
    background:url('./media/tigre-siberiano.jpg');
    background-size:cover;
    }
  .item-2{
    background:url('./media/tigre-do-sul-da-china.png');
     background-size:cover;
  }
  .item-3{
    background:url('./media/tigre-de-bengala.jpg');
     background-size:cover;
  }
  
  *:target ~ .item-1 {
      opacity: 0;
    }
  
  #item-1:target ~ .item-1 {
      opacity: 1;
    }
  
  #item-2:target ~ .item-2, #item-3:target ~ .item-3 {
      z-index: 3;
      opacity: 1;
    }
  }