body{
	background-color: #DCDCDC;
}

#centro{

	background-color: #FFFFFF;
	margin: 0 auto 0 auto;
	width: 80%;
	padding-top: 0; 
	box-shadow: 0px 4px 30px #000000;
	border-radius: 3px;		
}

#menu ul{
	padding:15px;
	margin:;
	background-color:#000000; 
	text-align:center;
	border-color: #00000;
	border-radius:2px;
	font-family:Sans Serif;
}
#menu ul li { display: inline; }

#menu ul li a {
    padding: 4px 30px;
    display: inline-block;
    margin-right: 3%;


    /* visual do link */
    background-color:#000000;
    color: white;
    text-decoration: none;
}

#menu ul li a:hover {
    background-color:#00000;
    border: 1px solid white;
    border-radius: 4px;
    cursor: pointer;
}

#eu{
	
	height: 300px;
	padding: 0 auto;
	margin-bottom: 30px;
	margin-left: 2%;
	margin-right: 2%;
	font-size: 10px;
	text-align: left;
	font-family:sans-serif;
	border-bottom:2px solid #C0C0C0 ;
	border-radius: 4px;

}
#sobremim{
	font-size: 40px;
	font-family: Sans Serif;

}
#text_eu{
	font-size: 14px;
	font-family:sans-serif;
	margin-right: 40%;
	height: 150px;
	text-align: justify; 
}

#origem{
	border-bottom:2px solid #C0C0C0;
	height: 400px;
	padding: 0 auto;
	margin-bottom: 30px;
	margin-left: 2%;
	margin-right: 2%;
}
#slideshow_origem{
	border: 1px solid black;
	margin-top:50px;
	margin-right: 60%;
	margin-left: 5%;
	height: 200px;
}
#texto_origem{
		border: 1px solid black;
		margin-left: 60%;
		margin-right: 5%;
		margin-top: -210px;
		height: 200px;
		font-family: Monteserrat, Sans Serif;
		font-size: 10px;
		text-align: justify;

}
#hobbies{
	height:400px;
	margin-right:2%;
	margin-left:2%;
	margin-bottom:30px;
	border-bottom:2px solid #C0C0C0;
	
}
#img_hobbies{
	border: 5px solid black;
	margin-top:50px;
	margin-right: 60%;
	margin-left: 5%;
	height: 200px;
}
#texto_hobbies{
		border: 5px solid black;
		margin-left: 60%;
		margin-right: 5%;
		margin-top: -210px;
		height: 200px;
		font-size: 1px;
}
#computação{
	height: 300px;
	padding-bottom:10px;
	margin-right:2%;
	margin-left:2%;
	height: 400px;
	font-family: Sans Serif;

}
#Comp{
	font-size: 40px;
	font-family: Sans Serif;
}
#text_comp{
	border: 5px solid black;
	margin-right: 40%;
	font-size: 15px;
	height: 200px;
}

#contatos{
	height: 200px;
	background-color: #708090;	
	padding-top: 1px;
}
#Contatos{
	margin-left: 3%;
}

#redes{
	margin-left: 3%;
}
#rodape{
	background-color: #708090 ;
	padding:1px;
	margin:0 auto 0 auto;
	text-align: center;
	color:white;
	font-family:Sans Serif;
	line-height: 0px;
	
}

#back-to-top{
	width: 60px;
	height: 60px;
	background-image: url(../imagens/voltar_topo.png);
	position: fixed;
	bottom: 0;
	right: 20px;

}
#back-to-top:hover{
	cursor: pointer;
	background-position: 0 -60px;

}

